$font-primary: "Open Sans" sans-serif;
$font-alt: "Oleo Script", serif;

$color-background: #e4e4e4;
$color-text: #444444;
$color-logo-background: #fc4887;
$global-color: white;
$color-border-primary: #1691c3;